<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zeezo.dosticard">
    
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc" android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Splash" android:windowSoftInputMode="adjustPan" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MerchantLogin" android:windowSoftInputMode="adjustPan" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MerchantLogin" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MerchantRegistration" android:windowSoftInputMode="adjustPan" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MerchantRegistration" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MerchantProfile" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MerchantProfile" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".JoinStore" android:windowSoftInputMode="adjustPan" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.JoinStore" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".CustomerRegistration" android:windowSoftInputMode="adjustPan" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.CustomerRegistration" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".CustomerProfile" android:windowSoftInputMode="adjustPan" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.CustomerProfile" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ListOfCustomer" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.ListOfCustomer" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ViewStore" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.ViewStore" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".JoinExistingStore" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.JoinExistingStore" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateNewStoreBranch" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.CreateNewStoreBranch" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".UpdateMerchant" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.UpdateMerchant" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".UseNFCCard" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.UseNFCCard" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ReadTag" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.ReadTag" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>